# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false



https://teams.microsoft.com/l/meetup-join/19%3ameeting_ODdmZmM5OTctMzFlZi00ZDRhLWE3MGYtMjNiM2NmYzI2ZjFj%40thread.v2/0?context=%7b%22Tid%22%3a%2263ce7d59-2f3e-42cd-a8cc-be764cff5eb6%22%2c%22Oid%22%3a%2225f49820-fb10-43ea-ac7c-5823b4b8f592%22%7d
