/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
